{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
New Story
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form method="post" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
                    <legend>Share A New Story</legend>
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>
    </div>
{% endblock %}